.about {
    padding: 40px 15px;
}

.intro_title {

    color: #414042;
    font-family: "Playfair Display";
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 40px;
}

.about_info {

    color: #92278F;
    font-family: "Playfair Display";
    font-size: 24px;
    letter-spacing: -0.3px;
    line-height: 28px;
}

.about_introdescription {

    color: #747474;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
}


.about_title {
    color: #414042;
    font-family: "Playfair Display";
    font-size: 30px;
    line-height: 33px;
}

.name {
    height: 34px;
    width: 260px;
    color: #414042;
    font-family: "Playfair Display";
    font-size: 24px;
    letter-spacing: -0.3px;
    line-height: 28px;
}

.position {
    height: 24px;
    width: 260px;
    color: #414042;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.description {
    height: 102px;
    width: 260px;
    color: #747474;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
}

.readmore {
    height: 24px;
    width: 260px;
    color: #00B9F2;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
}

.card {
    padding_bottom: 20px;
    border: 1px solid #000000;
}

