.slider {
    width: 100%;

    .slider_container {
        width: 100%;
        @include media($breakpoint-medium) {
            margin-bottom: 50px;
        }

        //background: red;

    }


    .slider_list {
        .flickity-page-dots {
            bottom: 0;
        }

    }

    .slider_item {
        width: 100%;

        //background: green;

    }

    .slider_wrap {
        position: relative;
    }

    .slider_body {
        padding: 20px 15px;
        @include media($breakpoint-medium) {
            position: absolute;
            top: 0;
            padding: 60px 40px;

        }
        @include media($breakpoint-large) {
            padding: 70px 100px;
        }
    }

    .slider_info {
        @extend %hero;
        margin-bottom: 26px;
        @include media($breakpoint-medium) {
            width: 75%;
        }
        @include media($breakpoint-large) {
            width: 80%;
        }

    }


    .button {
        width: 290px;
        height: 50px;
        @include media($breakpoint-medium) {
            width: 210px;
        }
        @include media($breakpoint-large) {
            width: 175px;

        }
    }
}


.home_intro {
    width: 100%;
    height: 620px;
    padding: 20px 15px;
    @include media($breakpoint-medium) {
        height: 500px;
        display: flex;
        padding: 60px 40px;
    }
    @include media($breakpoint-large) {
        padding: 70px 100px;
    }
    background: blue;

    .home_intro_container {
        height: 230px;
        background: violet;
        margin-bottom: 50px;
        @include media($breakpoint-medium) {
            height: 325px;
            padding-right: 42px;
        }
    }

    .home_intro_title {
        @extend %h2;

        background: wheat;
        margin-bottom: 10px;
    }

    .home_intro_description {
        @extend %p1;

        background: wheat;
        margin-bottom: 15px;
    }

    .button {
        margin-bottom: 18px;
    }

    .home_more_container {
        height: 230px;
        background: violet;
        @include media($breakpoint-medium) {
            height: 325px;
            padding-left: 42px;
        }
    }

    .home_more_title {
        @extend %h2;
        background: wheat;
        margin-bottom: 10px;
    }


}

//.follow_us{
//    padding: 20px 15px;
//    @include media($breakpoint-medium) {
//        //height: 270px;
//        padding: 60px 40px;
//    }
//    @include media($breakpoint-large) {
//        padding: 70px 100px;
//    }
//}

