.header {


    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid $color-medium-gray;
    @include media($breakpoint-medium) {
        padding-left: 45px;
        padding-right: 45px;
    }
    @include media($breakpoint-large) {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.header .border {
    margin: 0 -15px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, #EF4136 0%, #92278F 100%);
    @include media($breakpoint-medium) {
        margin: 0 -45px;
    }
    @include media($breakpoint-large) {
        margin: 0 -100px;
    }
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    //max-width: 1280px;
    //margin-left: auto;
    //margin-right: auto;
    position: relative;

    @include media($breakpoint-large) {
        flex-wrap: nowrap;
    }
}

.header__logo {
    width: 200px;


    @include media($breakpoint-medium) {

    }

    img {
        vertical-align: middle;
    }
}

.header__links {
    margin: 0;
    padding-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    list-style-type: none;
    width: 100%;
    display: none;
    text-transform: uppercase;
    @include media($breakpoint-large) {
        display: flex;

        width: inherit;
    }

    &.is-active {
        display: block;
    }
}

.header__link {
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    font-family: "Open Sans";
    font-weight: 600;

    &.header__link--active {
        color: $color-purple;
    }

    a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 5px 25px;
    }
}

.header__hamburger {
    margin-left: 2rem;
    //margin-right: 25px;
    position: absolute;
    right: 0;
    @include media($breakpoint-large) {
        display: none;
    }
}


.hamburger-inner {
    background: $color-red-purple;
}

.hamburger-inner::after {
    background: $color-red-purple;
}

.hamburger-inner::before {
    background: $color-red-purple;
}

.social-list {
    display: none;
    @include media($breakpoint-large) {
        display: flex;
        align-items: center;
    }

}

.social-item {
    margin: 15px;
}